@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #121317;
    font-family: sans-serif;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 2;
    background: #06111C;
}

.link-group {
    list-style: none;
    display: flex;
}

.link a {
    color: white;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;

}

.link a:hover, .link.active a {
    opacity: 1;
}


.home-section.active,
.project-section.active,
.about-section.active,
.contact-section.active {
    position: relative;
    opacity: 1;
    z-index: 1;
}

.home-section {
    width: 100%;
    height: 100vh;
    padding: 0 150px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 1;
    transition: 1s;
}

.hero-heading {
    color: white;
    font-size: 120px;
    text-transform: capitalize;
    font-weight: 300;
}

.project-section {
    width: 100%;
    /*min-height: 100vh;*/
    padding: 150px 100px 100px;
    /*position: fixed;*/
    top: 0;
    transition: 1s;
    opacity: 1;
}

.project-heading {
    font-size: 100px;
    background: #BEC7C7;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: #121317;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.project-card {
    height: 400px;
    position: relative;

}

.project-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 20px
}

.project-content {
    position: relative;
    padding: 40px;
    color: white;
    transition: 0.5s;
    opacity: 0;
}

.project-title {
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}

.project-info {
    margin: 40px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.project-btn-grp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project-btn {
    height: 40px;
    text-transform: capitalize;
    font-size: 18px;
    border: none;
    background: #121317;
    color: white;
    cursor: pointer;
}

.project-btn.live {
    background: none;
    border: 2px solid white;

}

.project-card:hover .project-image {

    filter: brightness(50%) blur(20px);
}

.project-card:hover .project-content {
    opacity: 1;
}

.project-card:hover .project-questionnaire {
    filter: brightness(0.5) blur(20px)
}

.about-section {
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    position: fixed;
    top: 0;
    transition: 1s;
}


.about {
    width: 70%;
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 40px;
}

.about-img-container {
    position: relative;
}

.about-info {
    color: white;
    opacity: 0.6;
    font-size: 20px;
    line-height: 40px;
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.download-cv-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 20px;
    color: white;
    border: none;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
    background: rgba(0, 0, 0, 0.5);

}

.download-cv-btn:hover {
    background: black;
}

.contact-section {
    position: fixed;
    top: 0;
    transition: 1s;
    padding: 100px 150px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    height: 40px;
    background: #6e7474;
    border: 1px solid white;
    margin-bottom: 30px;
    border-radius: 5px;
    text-transform: capitalize;
    color: white;
    padding: 5px 10px;
}

::placeholder {
    color: white
}

#msg {
    height: 280px;
    resize: none;
    font-family: sans-serif;
}

.form-submit-btn {
    background: #BB2020;
    color: white;
    text-transform: capitalize;
    padding: 15px 40px;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.map {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.map iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.contact-info {
    margin-top: 50px;
    color: white;

}

.contact-list {
    line-height: 2em;
}



#timeline-content {
    margin-top: 50px;
    text-align: center;
}
.timeline {
    border-left: 4px solid #258685;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255,255,255,0.03);
    color: rgba(255,255,255,0.8);
    font-family: 'Chivo', sans-serif;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 30%;
}
.timeline h1 {
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
}
.timeline h2, .timeline h3 {
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
}
.timeline .event {
    border-bottom: 1px dashed rgba(255,255,255,0.1);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
}
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .event:before, .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}
.timeline .event:before {
    left: -217.5px;
    color: rgba(255,255,255,0.4);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
    font-family: 'Saira', sans-serif;
}
.timeline .event:after {
    box-shadow: 0 0 0 4px #258685;
    left: -57.85px;
    background: #313534;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}